.homeRoutes{
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: white;
}

.littleBrand
{
position: absolute;
align-self: flex-start;

}

.routes
{
  padding: 2%;
  margin: 2%;
  display: inline-grid;
}

img{
margin: 2%;
padding: 2%;

}

.grayPlace{
  background-color: #F2F2F2;
  margin-top: 7%;
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
  display: flex;
  width: inherit;
}

.rectangleG
{
margin-top: 3%;

}