.orderPlace{
  flex-direction: column;
  display: flex;
  margin-top: 20%;

}


.btn{
  border-radius: 20px;
  margin: 4%;
}

.conditions{
font-size: x-small;

}

.signUpPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: white;
}


input{

  border-radius: 20px;
  border: 1px solid #3AAA35;
}

#name{
margin-top: 5%;
}

label{
text-align: center;

}
